mixin projectItem (imageSrc, imageAlt, previewLink, githubLink)
  .projects__item
      img(src= imageSrc alt= imageAlt)
      .projects__btns
            a.projects__btn(href= previewLink target='_blank' rel="noopener noreferrer")
                i.fas.fa-eye Посмотреть
            a.projects__btn(href= githubLink target='_blank' rel="noopener noreferrer")
                i.fab.fa-github Посмотреть код

main
  section.projects
    .projects__bio-image
        h1.text-secondary Мои проекты
    .projects__items
        +projectItem('assets/css-sg.jpg', 'CSS Styles Generator', 'https://natalielinen.github.io/css-styles-generator/', 'https://github.com/Natalielinen/css-styles-generator')
        +projectItem('assets/ingredients-calc.png', 'Ingredients Calculator', 'https://natalielinen.github.io/ingredients-calculator/', 'https://github.com/Natalielinen/ingredients-calculator')
        +projectItem('assets/zen-study-js.jpg', 'Zen Code Study Project JS', 'https://study-project-js.vercel.app/', 'https://gitlab.com/zencode-team/study/first/study-project-js')
        +projectItem('assets/rgb-to-hex.png', 'RGB to HEX converter', 'https://natalielinen.github.io/rgb-to-hex-converter/', 'https://github.com/Natalielinen/rgb-to-hex-converter')

  include ../../modules/social-icons/social-icons