mixin projectItem (imageSrc, imageAlt, previewLink, githubLink)
  .projects__item
      img(src= imageSrc alt= imageAlt)
      .projects__btns
            a.projects__btn(href= previewLink target='_blank' rel="noopener noreferrer")
                i.fas.fa-eye Посмотреть
            a.projects__btn(href= githubLink target='_blank' rel="noopener noreferrer")
                i.fab.fa-github Посмотреть код

main
  section.projects
    .projects__bio-image
        h1.text-secondary Мои проекты
    .projects__items
        +projectItem('assets/cook-book.png', 'Cook-book', 'https://github.com/Natalielinen/cook-book', 'https://github.com/Natalielinen/cook-book')
        +projectItem('assets/css-sg.jpg', 'CSS Styles Generator', 'https://natalielinen.github.io/css-styles-generator/', 'https://github.com/Natalielinen/css-styles-generator')
        +projectItem('assets/ingredients-calc.png', 'Ingredients Calculator', 'https://natalielinen.github.io/ingredients-calculator/', 'https://github.com/Natalielinen/ingredients-calculator')
        +projectItem('assets/zen-study-js.jpg', 'Zen Code Study Project JS', 'https://study-project-js.vercel.app/', 'https://gitlab.com/zencode-team/study/first/study-project-js')
        +projectItem('assets/rgb-to-hex.png', 'RGB to HEX converter', 'https://natalielinen.github.io/rgb-to-hex-converter/', 'https://github.com/Natalielinen/rgb-to-hex-converter')
        +projectItem('assets/snail-races.png', 'Snail Races', 'https://natalielinen.github.io/snail-races/', 'https://github.com/Natalielinen/snail-races')
        +projectItem('assets/tic-tac-toe.png', 'Tic Tac Toe', 'https://natalielinen.github.io/tic-tac-toe/', 'https://github.com/Natalielinen/tic-tac-toe')
        +projectItem('assets/calcs.png', 'Math Calculators', 'https://natalielinen.github.io/math-calculators/', 'https://github.com/Natalielinen/math-calculators')
        +projectItem('assets/geometry.png', 'Geometry Calculators', 'https://natalielinen.github.io/calculators/', 'https://github.com/Natalielinen/calculators')
        +projectItem('assets/a-plus.png', 'A-Plus school', 'https://natalielinen.github.io/a-plus-project/', 'https://github.com/Natalielinen/a-plus-project')
        +projectItem('assets/survey-form.png', 'Survey form', 'https://natalielinen.github.io/survey-form/', 'https://github.com/Natalielinen/survey-form')
        +projectItem('assets/tribute-page.png', 'Tribute Page', 'https://natalielinen.github.io/tribute-page/', 'https://github.com/Natalielinen/tribute-page')
        +projectItem('assets/html-doc.png', 'HTML-documentation', 'https://natalielinen.github.io/html-documentation/', 'https://github.com/Natalielinen/html-documentation')
        +projectItem('assets/landing.png', 'Product landing page', 'https://natalielinen.github.io/product-landing-page/', 'https://github.com/Natalielinen/product-landing-page')

  include ../../modules/social-icons/social-icons