mixin job (period, company, position, functions)
  .jobs__job
    h2.text-secondary= period
    h3= company
    h6= position
    p= functions
main
  section.about
    .about__bio-image
      .about__bio
       h2.text-secondary Обо мне
       p Фронтенд-разработчик, верстальщик#[br]
         span.experience Опыт работы:
           span 1 год
       p Навыки и области знаний: HTML, CSS, Pug, SCSS, JavaScript, React, Redux
    .jobs
      +job('февраль 2022 по настоящее время (6 мес)', 'Zen Code', 'Фронтенд-разработчик',
      'Создание и поддержка кода. Помощь команде разработчиков в отладке и устранении неполадок CMS-системы. ' +
      'Сотрудничество с заинтересованными сторонами в процессе разработки с использованием лучших практик проектирования.' +
      'Совместная работа с командой аналитиков и дизайнеров в условиях жестких сроков. Переработка и оптимизация старого кода ' +
      'для повышения производительности приложений и читабельности кода. Выполнение тестирования пользовательского интерфейса ' +
      'для выявления и устранения недостатков.')
      +job('ноябрь 2021 - февраль 2022 (3 мес)', 'Zen Code', 'Фронтенд-разработчик стажер',
      'Сотрудничество с другими стажерами и руководителем группы для создания учебных проектов.\n' +
      'Проектирование, написание, модификация, интеграция и тестирование кода, связанного с веб-сайтом.\n' +
      'Предоставление ежедневных планов и отчетов.')
      +job('июнь 2021 - сентябрь 2021 (3 мес)', 'KodeFirst', 'Фронтенд-разработчик стажер', 'Помощь старшим разработчикам в верстке различных элементов интерфейса.\n' +
      'Рефакторинг старого кода.\n' +
      'Изучение новых технологий и применение их на практике.\n' +
      'Участие в код ревью и предоставление ежедневных отчетов.')
    include ../../modules/social-icons/social-icons
