mixin job (period, company, position, functions)
  .jobs__job
    h2.text-secondary= period
    h3= company
    h6= position
    p= functions
main
  section.about
    .about__bio-image
      .about__bio
       h2.text-secondary Обо мне
       p.
         Фронтенд-разработчик, верстальщик#[br]
         Навыки и области знаний: HTML, CSS, Pug, SCSS, JavaScript, React, Redux
    .jobs
      +job('июнь 2021 - сентябрь 2021', 'KodeFirst', 'Фронтенд-разработчик стажер', 'Помощь старшим разработчикам в верстке различных элементов интерфейса.\n' +
      'Рефакторинг старого кода.\n' +
      'Изучение новых технологий и применение их на практике.\n' +
      'Участие в код ревью и предоставление ежедневных отчетов.')
    include ../../modules/social-icons/social-icons
